<div class="px-3">
  <div class="mb-3">
    <p-button label="კლიენტის დამატება" icon="pi pi-plus" severity="success" (onClick)="onAddClient()" class="me-2"/>
    <p-button label="ანგარიშის დამატება" icon="pi pi-plus" severity="contrast" (onClick)="onAddAccount()" class="me-2"/>
    @if (hasFilter()) {
      <p-button
        label="ფილტრის გასუფთავება"
        icon="pi pi-times" severity="help"
        (onClick)="onSort(null); table.reset()"
        class="me-2"
      />
    }
  </div>

  <p-card>
    <p-table
      #table
      [value]="clients()"
      (onSort)="onSort($event)"
      [tableStyle]="{'min-width': '60rem'}"
      [sortField]="sortField()"
      [sortOrder]="sortOrder()"
    >
      <ng-template #header>
        <tr>
          @for (col of columns(); track col.value) {
            <!-- თუ მხოლოდ ერთი კლიენტი გაიჩითა, სორტირება არცაა საჭირო -->
            @if (clients()?.length > 1 && col.value !== '_actions') {
              <th pSortableColumn="{{col.value}}" style="width:20%"> {{ col.title }}
                <p-sortIcon field="{{col.value}}"/>
              </th>
            } @else {
              <th style="width:20%"> {{ col.title }}</th>
            }
          }
        </tr>
      </ng-template>
      <ng-template #body let-client>
        <tr>
          @for (col of columns(); track col.value) {
            <td [class.disabled]="!client.active">
              @if (col.value !== '_actions') {
                @if (col.value == 'gender') {
                  {{ GENDERS_MAP[client[col.value]] }}
                } @else {
                  {{ client[col.value] }}
                }
              } @else {
                @if (client.active) {
                  <div class="d-flex">
                    <p-button
                      class="ms-3"
                      icon="pi pi-user-edit"
                      aria-label="რედაქტირება"
                      severity="secondary"
                      (click)="onEdit(client.id)"
                    />
                    <p-button
                      class="ms-3"
                      icon="pi pi-trash"
                      aria-label="წაშლა"
                      severity="danger"
                      (click)="onDelete(client.id)"
                    />
                  </div>
                }
              }
            </td>
          }
        </tr>
      </ng-template>
    </p-table>
    <p-paginator
      [first]="first()"
      [rows]="limit()"
      [totalRecords]="total()"
      [rowsPerPageOptions]="[1, 2, 5, 10, 25]"
      (onPageChange)="onPageChange($event)"
    />
  </p-card>
</div>
