<p-card class="p-mb-3">
  <label class="text-secondary font-size-20 d-flex align-items-center mb-3">
    კლიენტის დეტალები
  </label>
  <div class="d-flex">
    @if (uploadedFile()?.id) {
      <div class="d-flex border rounded-2 mb-3 overflow-hidden">
        <img [src]="uploadedFile().data" alt="{{ uploadedFile()?.filename }}" style="height: 100px"/>
      </div>
    } @else {
      <input
        type="file"
        (change)="onFileSelected($event)"
        #fileInput
        hidden
      />

      <p-button
        [loading]="imgLoader()"
        type="button"
        icon="pi pi-upload"
        label="ფოტოს ატვირთვა"
        class="mb-3"
        (click)="fileInput.click()">
      </p-button>
    }
  </div>
  <form [formGroup]="form()" (ngSubmit)="onSubmit()" class="flex justify-center row">
    <div class="d-flex flex-column p-field mb-2 col-md-6">
      <label class="mb-1" for="name">სახელი</label>
      <input id="name" pInputText formControlName="name"/>
      @if (form().get('name')?.invalid && form().get('name')?.touched) {
        <small class="text-danger">
          @if (form().get('name').errors['required']) {
            ველის შევსება სავალდებულოა
          } @else if (form().get('name').errors['minlength']) {
            უნდა იყოს მინიმუმ 2 სიმბოლო
          } @else if (form().get('name').errors['maxlength']) {
            არ უნდა აღემატებოდეს 50 სიმბოლოს
          } @else if (form().get('name').errors['pattern']) {
            უნდა შეიცავდეს მხოლოდ ქართულ ან მხოლოდ ლათინურ ასოებს
          }
        </small>
      }
    </div>
    <div class="d-flex flex-column p-field mb-2 col-md-6">
      <label class="mb-1" for="lastName">გვარი</label>
      <input id="lastName" pInputText formControlName="lastName"/>
      @if (form().get('lastName')?.invalid && form().get('lastName')?.touched) {
        <small class="text-danger">
          @if (form().get('lastName').errors['required']) {
            ველის შევსება სავალდებულოა
          } @else if (form().get('lastName').errors['minlength']) {
            უნდა იყოს მინიმუმ 2 სიმბოლო
          } @else if (form().get('lastName').errors['maxlength']) {
            არ უნდა აღემატებოდეს 50 სიმბოლოს
          } @else if (form().get('lastName').errors['pattern']) {
            უნდა შეიცავდეს მხოლოდ ქართულ ან მხოლოდ ლათინურ ასოებს
          }
        </small>
      }
    </div>
    <div class="d-flex flex-column p-field mb-2 col-md-6">
      <label class="mb-1" for="personalNumber">პირადი ნომერი</label>
      <input id="personalNumber" pInputText formControlName="personalNumber"/>
      @if (form().get('personalNumber')?.invalid && form().get('personalNumber')?.touched) {
        <small class="text-danger">
          @if (form().get('personalNumber').errors['required']) {
            ველის შევსება სავალდებულოა
          } @else if (form().get('personalNumber').errors['pattern']) {
            უნდა იყოს ზუსტად 11 ციფრი
          }
        </small>
      }
    </div>
    <div class="d-flex flex-column p-field mb-2 col-md-6">
      <label class="mb-1" for="mobile">მობილური</label>
      <input id="mobile" pInputText formControlName="mobile" placeholder="5xx xx xx xx"/>
      @if (form().get('mobile')?.invalid && form().get('mobile')?.touched) {
        <small class="text-danger">
          @if (form().get('mobile').errors['required']) {
            ველის შევსება სავალდებულოა
          } @else if (form().get('mobile').errors['pattern']) {
            უნდა იყოს 9 ციფრი და იწყებოდეს 5-იანით
          }
        </small>
      }
    </div>
    <div class="d-flex flex-column p-field mb-2 col-md-6">
      <label class="mb-1">სქესი</label>
      <div class="d-flex">
        @for (gender of genders(); track gender.name; let idx = $index) {
          <div class="flex items-center mb-2 me-3">
            <p-radiobutton
              [inputId]="gender.value.toString()"
              id="gender_{{gender.value}}"
              name="gender"
              [value]="gender.value"
              formControlName="gender">
            </p-radiobutton>
            <label [for]="'gender_'+gender.value" class="ms-2">{{ gender.name }}</label>
          </div>
        }
      </div>
      @if (form().get('gender')?.invalid && form().get('gender')?.touched) {
        <small class="text-danger"> ველის შევსება სავალდებულოა </small>
      }
    </div>
    <div class="d-flex flex-column p-field mb-2 col-md-12">
      <label class="mb-1" for="legalAddress">იურიდიული მისამართი</label>
      <div formGroupName="legalAddress" id="legalAddress" class="d-flex align-items-center">
        <div class="mt-1 w-100">
          <p-floatlabel variant="on">
            <input pInputText id="legalAddresscountry" formControlName="country" autocomplete="off"/>
            <label for="legalAddresscountry">ქვეყანა</label>
          </p-floatlabel>
          @if (form().get('legalAddress.country')?.invalid && form().get('legalAddress.country')?.touched) {
            <small class="text-danger"> ველის შევსება სავალდებულოა </small>
          }
        </div>
        <div class="px-2 mt-1 w-100">
          <p-floatlabel variant="on">
            <input pInputText id="legalAddresscity" formControlName="city" autocomplete="off"/>
            <label for="legalAddresscity">ქალაქი</label>
          </p-floatlabel>
          @if (form().get('legalAddress.city')?.invalid && form().get('legalAddress.city')?.touched) {
            <small class="text-danger"> ველის შევსება სავალდებულოა </small>
          }
        </div>
        <div class="mt-1 w-100">
          <p-floatlabel variant="on">
            <input pInputText id="legalAddressaddress" formControlName="address" autocomplete="off"/>
            <label for="legalAddressaddress">მისამართი</label>
          </p-floatlabel>
          @if (form().get('legalAddress.address')?.invalid && form().get('legalAddress.address')?.touched) {
            <small class="text-danger"> ველის შევსება სავალდებულოა </small>
          }
        </div>
      </div>
    </div>
    <div class="d-flex flex-column p-field mb-2 col-md-12">
      <label class="mb-1" for="actualAddress">ფაქტობრივი მისამართი</label>
      <div formGroupName="actualAddress" id="actualAddress" class="d-flex align-items-center">
        <div class="mt-1 w-100">
          <p-floatlabel variant="on">
            <input pInputText id="actualAddresscountry" formControlName="country" autocomplete="off"/>
            <label for="actualAddresscountry">ქვეყანა</label>
          </p-floatlabel>

          @if (form().get('actualAddress.country')?.invalid && form().get('actualAddress.country')?.touched) {
            <small class="text-danger"> ველის შევსება სავალდებულოა </small>
          }
        </div>
        <div class="px-2 mt-1 w-100">
          <p-floatlabel variant="on">
            <input pInputText id="actualAddresscity" formControlName="city" autocomplete="off"/>
            <label for="actualAddresscity">ქალაქი</label>
          </p-floatlabel>
          @if (form().get('actualAddress.city')?.invalid && form().get('actualAddress.city')?.touched) {
            <small class="text-danger"> ველის შევსება სავალდებულოა </small>
          }
        </div>
        <div class="mt-1 w-100">
          <p-floatlabel variant="on">
            <input pInputText id="actualAddressaddress" formControlName="address" autocomplete="off"/>
            <label for="actualAddressaddress">მისამართი</label>
          </p-floatlabel>
          @if (form().get('actualAddress.address')?.invalid && form().get('actualAddress.address')?.touched) {
            <small class="text-danger"> ველის შევსება სავალდებულოა </small>
          }
        </div>
      </div>
    </div>

    <div class="d-flex w-100 align-items-center mt-3">
      <div class="d-flex w-100 justify-content-start">
        @if (data().id) {
          <p-button type="button" label="ანგარიშის დახურვა" severity="danger" (onClick)="onDeactivate()"/>
        }
      </div>
      <div class="d-flex w-100 justify-content-end">
        <p-button
          type="button"
          label="უკან"
          icon="pi pi-arrow-left"
          severity="secondary"
          (onClick)="goToBack()"
          class="ms-2"
        />
        <p-button type="submit" [label]="data().id ? 'რედაქტირება' : 'შენახვა'" severity="primary" class="ms-2"/>
      </div>
    </div>
  </form>
</p-card>
@if (data().id) {
  <p-card class="p-mb-3" styleClass="mt-3">
    <label class="text-secondary font-size-20 d-flex align-items-center mb-3">
      კლიენტის ანგარიშ(ებ)ი
    </label>
    @if (accounts()?.length) {
      <app-client-accounts-form [accounts]="accounts()"></app-client-accounts-form>
    } @else {
      <div class="alert alert-primary font-size-14" role="alert">
        ანგარიშ(ებ)ი ვერ მოიძებნა
      </div>
    }
  </p-card>
}
