/* You can add global styles to this file, and also import other style files */
@use 'assets/styles/font';
@use 'assets/styles/ngx-toastr-override';

* {
  font-family: 'Firago Latin', sans-serif;
  font-weight: 600;
}

body {
  background-color: #f7f8fa;
}

.disabled {
  opacity: 0.2;
}
