/* You can add global styles to this file, and also import other style files */
@use 'assets/styles/font';
@use 'assets/styles/ngx-toastr-override';

* {
  font-family: 'Firago Latin', sans-serif;
  font-weight: 600;
}

body {
  background-color: #f7f8fa;
}

.disabled {
  opacity: 0.2;
  pointer-events: none;
}

form {
  td .td-placeholder {
    height: 10px;
    display: flex;
    width: 100%;
    background-color: #f7f8fa;
  }
}

.overflow-none {
  overflow: unset !important;

  .p-datatable-table-container {
    overflow: unset !important;
  }
}

.ng-touched.ng-invalid {
  border-color: #f87171 !important;
}
